@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
  
  /* Palette Gelap Gradasi Abu-abu */
  --color-bg-main: #121212;         /* Hitam pekat */
  --color-bg-card: #1E1E1E;         /* Abu-abu gelap untuk kartu */
  --color-text-dark: #FFFFFF;       /* Teks putih agar kontras */
  --color-text-muted: #9CA3AF;      /* Abu-abu terang untuk teks sekunder */
  --color-primary: #374151;         /* Abu-abu gelap untuk elemen utama */
  --color-primary-light: #4B5563;   /* Abu-abu medium */
  
  /* Aksen POS & Inventaris */
  --color-accent-orange: #F59E0B;
  --color-accent-cyan: #06B6D4;
  --color-accent-red: #EF4444;
}

body {
    @apply font-instrument bg-[var(--color-bg-main)] text-[var(--color-text-dark)] antialiased;
}